.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}


.modal-container {
  width: 450px;
  background: var(--surface);

  padding: 30px;

  border-radius: var(--radius-lg);

  box-shadow: var(--shadow-md);

  position: relative;
}


.modal-close {
  position: absolute;

  top: 15px;
  right: 15px;

  background: transparent;

  font-size: 20px;
}