.reports-page {

  padding:35px;

}


.reports-page h1 {

  font-size:34px;

  color:#0f172a;

}



.reports-subtitle {

  margin-top:10px;

  margin-bottom:35px;

  color:#64748b;

}



.reports-table {

  margin-top:40px;

}



.reports-table h2 {

  margin-bottom:20px;

  color:#0f172a;

}