* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--text-primary);
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
